<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/"
        class="navbar-brand"
      >Recipe Book</a>
    </div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul routerLinkActive="active" class="nav-item active">
        <a routerLink="/recipes">Recipes</a></ul>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul routerLinkActive="active" class="nav-item active"><a routerLink="/shopping-list">Shopping List</a></ul>
    </ul>

    <ul class="navbar-right navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="dropdown" class="nav-item active" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
