<app-recipe-item [recipe]="recipe"></app-recipe-item>
<mat-card>
  <mat-card-actions>
    <button class="btn btn-outline-primary" (click)="onAddToShoppingList()">To Shopping List</button>
    <button class="btn btn-outline-primary" (click)="onEditRecipe()">Edit Recipe</button>
    <button class="btn btn-outline-primary">Delete Recipe</button>
  </mat-card-actions>
  <mat-card-content>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
    <label *ngIf="!recipe.isPrivate"> This recipe is public, and can be viewed by anyone </label>
  </mat-card-content>
</mat-card>
