<div class="row">
  <div class="col-xs-12">
    <button
      class="btn btn-success"
      (click)="onNewRecipe()"
    >New Recipe</button>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <mat-accordion multi="true" >
    <app-recipe-item
      *ngFor="let item of recipes; let i = index"
      [recipe]="item"
      [index]="i"
    ></app-recipe-item>
    </mat-accordion>
  </div>
</div>
